[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
clarify="*"
click="*"
requests="*"

[dev-packages]
autopep8="*"
flake8 = "*"
twine = "*"

[scripts]
build-release = "python setup.py sdist bdist_wheel"
check-release = "twine check dist/*"
fix-style = "autopep8 --recursive --in-place --aggressive ."
push-release = "twine upload dist/*"
